---	---
layout: default	layout: default
---	---
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}	{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}	  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}	{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}	  {% include page__hero_video.html %}
{% endif %}	{% endif %}
{% if page.url != "/" and site.breadcrumbs %}	{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}	  {% unless paginator %}
    {% include breadcrumbs.html %}	    {% include breadcrumbs.html %}
  {% endunless %}	  {% endunless %}
{% endif %}	{% endif %}



{% if include.type == "grid" or teaser %}


<div id="main" role="main">	<div id="main" role="main">
  {% include sidebar.html %}	  {% include sidebar.html %}


@@ -23,4 +27,4 @@ <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}	    {% endunless %}
    {{ content }}	    {{ content }}
  </div>	  </div>
</div> 
